.elementor-banner-animation {
    background: #111;
    position: relative;
    .__cta a {
        transition: all ease 0.3s;
    }
    &--default {
        .particles-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        ._content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            max-width: 1140px;
            margin: 0 auto;
            .__logo {
                display: flex;
                max-width: 200px;
            }
            .__text {
                color: #FFFFFF;
                font-family: "Cinzel", Sans-serif;
                font-size: 30px;
                ul {
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }
    &--skin-full-content {
        background-attachment: fixed;
        .particles-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .content-container {
            height: 100%;
            margin: 0 auto;
            ._content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                .__logo {
                    display: flex;
                    max-width: 200px;
                }
                .content_wrap {
                    max-width:540px;
                    .__heading{
                        font-family: Montserrat;
                        line-height: 42px;
                        letter-spacing: 0px;
                        font-weight: 700;
                        font-style: normal;
                        color: #fff;
                        font-size: 28px;
                        margin-bottom: 25px;
                    }
                    .__desc p{
                        font-family: caption;
                        font-style: italic;
                        color: #999999;
                        text-align: center;
                        font-size: 18px;
                        margin-bottom: 25px;
                    }
                    .__cta a{
                        padding: 8px 24px;
                        font-size: 13px;
                        border-radius: 1px;
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        line-height: normal;
                        font-weight: bold;
                        letter-spacing: 0;
                        background: #fed700;
                        color: #222222;
                        display: inline-flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
