.elementor-add-ep-button {
    border-radius: 30px;
    margin-left: 5px;
    background-color: #93003c;
}
.elementor-add-ep-button i.ep-icon-element-addon {
    font-size: 18px;
    margin-top: -2px;
}
.elementor-add-new-section {
    display: inline-flex;
    position: relative;
    padding-bottom: 30px
}

.elementor-add-ep-button {
    order: 4
}

.elementor-add-section-drag-title {
    bottom: 0;
    width: 100%;
    position: absolute;
    left: 0
}
